body{
	width: 980px;
	top: 30px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	margin-top: 10px;
	font-family: Verdana;
}

#title{
	font-variant:small-caps;
	font-size: 135%;
}
	

#main{
	display: inline;
	font-size: 0;
    letter-spacing: -1px
}

#chart{
	display: inline;
}

#header{
	margin-left: 200px;
	margin-top: 30px;
	position: absolute;
	font-size: 150%;
}

#img{
	display: inline;
	margin-bottom: 98px;
}

img {margin:0;padding:0}

h1{
	margin-top: 0px;
	margin-bottom: 2px;
}

#footer{
	margin-left: 200px ;
	font-variant:normal;
	font-size: 95%;
	top: 575px;
	position: absolute;
}

#links{
	font-variant: normal;
}


.style-select {
   width: 340px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
   font-size: 110%;

 }
